@font-face {
    font-family: "WhiteRabbit";
    src: url("/fonts/whitrabt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.whiteRabbitFont {
    font-family: "WhiteRabbit", sans-serif;
}
